.column {
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 10px;
    width: 200px;
    min-height: 300px;
    margin: 0 10px;
}

.columnTitle {
    font-weight: 400;
    margin-bottom: 10px;
    font-size: 18px;
}

.taskList {
    list-style-type: none;
    padding: 0;
}

.addCardButton {
    background-color: transparent;
    color: gray;
    border: none;
    padding: 5px 10px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 16px;
}

.addCardButton:disabled {
    background-color: #ccc;
    cursor: not-allowed;
    
}

.submitButton {
    background-color: transparent;
    color: gray;
    border: none;
    padding: 5px 10px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 16px;
}
.chooseTask{

   border: 1px solid white;
  border-radius: 20px;
  padding: 5px 10px;
}
.submitButton1{

    background-color:  rgba(0, 103, 163, 1);
    color: white;
    border: none;
    padding: 5px 10px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 10px;
}