.footer {
    background-color:rgba(0, 103, 163, 1);
    color: white;
    padding: 10px 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
  display: flex;
  gap: 10PX;
    align-items: center;
    font-size: 14px;
}