* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: black;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    overflow: hidden;
}


.container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    max-width: 90%;
    justify-content: center;
    gap: 15px;
}


.word {
    font-size: clamp(30px, 6vw, 80px);
}


#background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    visibility: hidden;
}

.video-mask {
    position: relative;
    width: 150px;
    height: 50px;
    overflow: hidden;
}


.video-mask video {
    position: absolute;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}
